:root {
    --corPadrao2: #1D345C;
}


footer {
    bottom: 0;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 3px;
    z-index: 500;

}

p {
    /*wtfk quem fez isso aqui???*/
    /*text-transform: capitalize;*/
}

.fotoPerfil {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

.fotoPerfilLoader {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

.linkfoto {
    border-radius: 50%;
    background: linear-gradient(transparent, transparent, black);
    background-size: 50px;
    opacity: 0;
    height: 150px;
    padding-top: 65%;
    transition: ease-in 0.2s;
}

.linkfoto:hover {
    opacity: 1;
}

@media only screen and (max-width: 992px) {
    .modal {
        margin: -15px 1vw 1vw;
        width: 98vw;
        max-width: 100%;
    }
}

.modal {
    max-height: 80%;
}

.homeimg {
    /*    background-image: url('../Img/bg1.jpg');
        background-size: 100%;
        background-attachment: fixed;*/
}

/*

.corpadrao{
        background: linear-gradient(to bottom, #0277bd , #039be5);
    background: linear-gradient(to bottom, #0277bd , #039be5);
}

.corcancelar{
        background: linear-gradient(to bottom, #0277bd , #039be5);
    background: linear-gradient(to bottom, #d32f2f , #e53935 );
}

.alerta_vermelho{
    color: red;
}

*/


.pulse-button {
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 1s infinite;
}

body {
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('../Img/bg1.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(29, 52, 92, 1);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(29, 52, 92, 0.8);
    }
    80% {
        -webkit-box-shadow: 0 0 0 50px rgba(29, 52, 92, 0);

    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(29, 52, 92, 0);
    }
}

.modal {
    overflow: auto;
}

main {
    flex: 1 0 auto;
    min-height: 80vh;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar:horizontal {
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
}

/*::-webkit-scrollbar {
    width: 0px;
}*/


.corPadrao1 {
    /*Branco*/
    background: #FFFFFF;
}

.corPadrao2 {
    /*Azul Escuro*/
    background: #06022B !important;
}

.corPadrao3 {
    /*Laranja*/
    background: #DB6A21 !important;
}

.corPadrao4{
    /*Verde*/
    background: #0F8F00 !important;
}

.textoCorPadrao2 {
    color: #06022B;

}

.textoCorPadrao3 {
    color: #DB6A21;
    font-weight: bold;
    cursor: default;
}

.textoCorPadrao4{
    color: #0F8F00;
}

.right-divider {
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), gray, rgba(0, 0, 0, 0)) 1 100%;
    border-left: none;
}

.left-divider {
    border-style: solid;
    border-width: 1px;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), gray, rgba(0, 0, 0, 0)) 1 100%;
    border-right: none;
}

.horizontal-divider {
    background-image: linear-gradient(to right, transparent, black, transparent);
    height: 1px;
}


.inline-icon {
    vertical-align: bottom;
}

.animi,
.giraEmudaCor,
.giraEmudaCorFloating{
    transition: ease-in 0.2s;
    user-select: none;
}

.bot:hover .bota {
    color: #DB6A21;
}

.bold {
    font-weight: bold;
}

.detalheSuave {
    border-radius: 50%;
    max-width: 32px;
    max-height: 32px;
    background-color: #f5f5f5;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

/*deixar as imagens com o mesmo tamanho*/
/*.imagemServico{
    max-width: 100%;
    width: 400px;
    height: 300px;
    object-fit: contain;
}*/

.fotoServico {
    height: 100%;
    width: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

.sideChat {
    position: fixed;
    height: 80%;
    bottom: 0;
    right: 5px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 25px 25px 0px 0px;
    z-index: 500;
}

.headChat {
    height: 6%;
    background-color: var(--corPadrao2);
    color: white;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    min-height: 5px;
    padding: 2.5px;
}

.bodyChat {
    overflow: auto;
    height: 94%;
}

.headChatBox {
    height: 35px;
    background-color: var(--corPadrao2);
    color: white;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    min-height: 5px;
    padding: 2.5px;
}

.bodyChatBox {
    overflow: auto;
    height: calc(86% - 35px);
}

.openChat {
    display: block !important;
}

.chatBox {
    position: fixed;
    bottom: 0;
    right: 5px;
    width: 350px;
    max-width: 90%;
    height: 800px;
    max-height: 70%;
    min-height: 500px;
    background-color: whitesmoke;
    border-radius: 25px 25px 0px 0px;
    z-index: 500;
}

.messageChat {
    line-height: 15px;
}

.inputChat {
    height: 14%;
}

/*Para mexer no sidenav*/
nav {
    background-color: #06022B !important;
}

nav .sidenav-trigger i {
    height: 45px !important;
    line-height: 45px !important;
}

.sidenav {
    /*background-color: rgba(120, 160, 187, 1);*/
    width: 245px !important;
    transition: ease-in 0.2s;
}

.sidenav li > a {
    padding: 0 20px !important;
}

.sidenav li > a > i.material-icons {
    margin: 0 20px 0 0 !important;
}

/*para deixar a sidNav empurrando o restante do html para a direita quando em fullscren*/


@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    !important;
    }
}

/* Mudar propriedas da class chip */
.chip {
    display: inline-block;
    height: 35px !important;
    font-size: 13px;
    font-weight: bold !important;
    color: rgba(255, 255, 255, 1) !important;
    line-height: 35px !important;
    padding: 0 18px !important;
    border-radius: 16px;
    margin-bottom: 5px;
    margin-right: 5px;
}

@media only screen and (max-width: 600px) {
    .chip {
        height: 32px !important;
        line-height: 32px !important;
    }
}

.chip:focus {
    outline: none;
    background-color: #26a69a;
    color: #fff;
}

/*Mantem o botão sair fixo na parte de baixo*/
.linhaDobtSair {
    /*margin-top: 0px;*/
    position: fixed;
    bottom: 65px;
    width: 100%
}


/*Muda a cor do icone do select na nav*/
#ulAesquerda .input-field .select-wrapper .caret{
    fill: #fff !important;
}
/*Muda a cor do que esta escrito dentro do campo selected*/
#ulAesquerda .input-field .select-wrapper input.select-dropdown {
    color: white !important;
}

/*Faz o campo do select ter uma margim quando em telas maiores de 992px e voltar a 0px igual ou menor que isso*/
#ulAesquerda{
    margin-left: 260px;
}

@media only screen and (max-width: 992px) {
    #ulAesquerda{
        margin-left: 10px;
    }
}

/*ajusta o tamnho do input-field*/
.input-field-ajustes{
    width: 250px;
    height: 45px;
}

@media only screen and (max-width: 530px){
    .input-field-ajustes{
        width: 200px;
    }
}

@media only screen and (max-width: 485px){
    .input-field-ajustes{
        width: 160px;
    }
}

@media only screen and (max-width: 438px){
    .input-field-ajustes{
        width: 140px;
    }
}

@media only screen and (max-width: 420px){
    .input-field-ajustes{
        width: 120px;
    }
}

@media only screen and (max-width: 360px){
    .input-field-ajustes{
        width: 100px;
    }

    .mostrarSaldo{
        font-size: 1.2rem !important;
    }
}
/*Muda as propriedades do dropdown que esta na navbar com a foto de perfil*/

.iconeFotoNav{
    background-color: whitesmoke;
    margin: 4px 20px 0 0;
    height: 37px;
    width: 37px;
    border-radius: 50%;
    border-width: 1px;
    border-color: #06022B;
    border-style: solid;
}

@media only screen and (max-width: 560px){
    .iconeFotoNav{
        margin-right: 4px;
    }
}

/*linha com o saldo*/
.mostrarSaldo{
    line-height: 45px;
    height: 45px;
    margin-left: 8px;
    font-size: 1.5rem;
    font-weight: bold;
}

.iconeFotoNav:hover{
    background-color: rgba(219, 106, 33, 0.95) !important;
}

.diviComFotoPerfil{
    float: left;
    margin: 0 8px 0 -15px;
    border-radius: 50%;
    height: 35px; width: 35px;
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

/*Aqui muda a largura que o dropdown da foto de perfil tera*/
#dropPessoal{
    min-width: 200px !important;
}
/*Classe que evita o estouro de elementos e corrige eles para o tamnho da tela*/

.evitarEstouro{
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
}


/*Ajusta as margens dos icones que estam dentro da sidnav alinhados a direita*/
.sidenav li > a > i.material-icons.right {
    margin-right: 0px !important;
}
/*Ajusta as margins dos icones que estam dentro da sidnav alinhados a esquerda*/
.sidenav li > a > i.material-icons {
    margin: 0 15px 0 -10px !important;
}
/*Ajusta as margens dos icones dentro do colabiseble na sidnav*/
.sidenav li > a > i.material-icons.icons-internos{
    margin-left: 8px !important;
}

/*Faz os ajustes no icone de alvo que esta na sidNav*/
.iconAlvo{
    user-select: none;
    float: left;
    max-width: 250px;
    max-height: 45px;
    margin-left: 8px;
    color: white
}

.fc .fc-daygrid-event-harness{
    cursor: pointer;
}

.modalVerDetalhes{
    display: block;
}

.modalEditar{
    display: none;
}

/*Mexando mo footer*/
.iconsFooter {
    margin-left: 3px;
    margin-right: 3px;
    float: left;
    height: 1.7rem;
    line-height: inherit;
    font-size: 1.7rem;
}

/*Icone de olho no campo de senha*/
.iconeOlho{
    z-index: 997 !important;
    margin-left: -25px !important;
    margin-top: 13px !important;
    position: relative !important;
    cursor: pointer !important;
    user-select: none !important;
}


/*Meu container personalizado*/

.containerMeu{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

@media only screen and (max-width: 601px) {
    .containerMeu{
        width: 100%;
    }
}

/*Item que fica na listagem de usuario*/

.itemListUsuario{
    float: right;
    background-color: #F0F0F7;
    position: absolute;
    border-radius: 10%;
    padding: 4px;
    transition: background-color 0.2s;
    user-select: none;
    cursor: pointer;
}

.itemListUsuario:hover{
    background-color: #e0e0ef;
}

/*Primero, segundo  e terceiro icone na listagem*/
.primeiroItem{
    top: 16px;
    right: 70px;
}

.primeiroItem i, .segundoItem i, .terceiroItem i{
    font-size: 40px;
    display: flex;
}

.segundoItem{
    top: 16px;
    right: 16px;
}

.terceiroItem{
    top: 16px;
    right: 124px;
}

@media only screen and (max-width: 630px){
    .primeiroItem i, .segundoItem i, .terceiroItem i{
        font-size: 30px;
    }

    .itemListUsuario{
        padding: 2px;
    }

    .primeiroItem{
        top: 6px;
        right: 9px;
    }

    .segundoItem{
        top: 45px;
        right: 9px;
        display: none;
    }

    .terceiroItem{
        top: 45px;
        right: 9px;
    }


    .btReCliFooter{
        width: 45%;
        border-radius: 5px;
    }
}

/*Linha que faz o link para cadastrar nova pessoa quando não tem niguem cadastrado*/

.btnAdicionarPessoa{
    line-height: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
    border-radius: 3%;
    margin-left: 10%;
    width: 80%;
    background-color: #F0F0F7
}

.btnAdicionarPessoa:hover{
    background-color: #e0e0ef;
    transition: background-color 0.2s;
}

/*Item no collection avatar*/
.collection .collection-item.avatar {
    padding-left: 0 !important;
}

/*Div que evita qeubra de linha nas listagens*/
.divWraper{
    width: 70%;
    margin-left: auto;
    left: auto;
    right: auto;
    max-height: 64px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 !important;
}
/*Icone more_vert ao lado*/
.moreVertIcon{
    padding: 0 !important;
    width: min-content;
    margin-left: 0;
    left: auto;
    right: auto;
    user-select: none;
}

/*Para fazer o togle nas listagens*/
.infoPrincipal{
    display: block;
}

.maisDetalhes{
    display: none;
}
/*Ajeitar a responsividade do Switch*/
.divSwitch{
    margin-top: 10px;
    padding-left: 20px !important;
}

@media only screen and (max-width: 630px) {
    .divSwitch{
        padding-left: 10% !important;
    }
    .collection .collection-item.avatar {
        height: 105px !important;
    }
    .divWraper{
        max-height: 84px !important;
    }
}

/*Div que envolve o conteudo a esquerda na listagem (feito para a listagem de ordens)*/

.divListParteEsquerda{
    width: 53px;
    height: 64px
}

/*Ajeitar o badge*/

span.badge{
    padding: 0 6px!important;
    margin-left: -8px !important;
    font-weight: 300;
    font-size: 0.8rem;
    color: #fff;
    border-radius: 2px;
    float: none !important;
    width: 40px !important;
}

span.badge.new:after {
     content: none;
}


/*.sidenav .bodyColorCollapsible{*/
/*    background-color: rgba(96, 122, 174, 0.2) !important;*/
/*}*/

/**/
/*Deixa o toast no canto inferior esquerdo*/
/*  #toast-container {*/
/*      top: auto !important;*/
/*      right: auto !important;*/
/*      bottom: 10%;*/
/*      left:7%;*/
/*  }*/